<launch>
  <arg name="drone_ns" default="drone0"/>
  <arg name="map_source" default="lidar"/>
  <arg name="ws_main_map_topic" default="/drone_0_ego_planner_node/grid_map/occupancy"/>
  <arg name="lidar_cloud_topic" default="/cloud_registered"/>
  <arg name="odom_topic" default="/ekf_quat/ekf_odom"/>
  <arg name="target_topic" default="/target_ekf_odom"/>
  <arg name="gridmap_inflate_topic" default="gridmap_inflate"/>
  <arg name="position_cmd_topic" default="/planner_mux/elastic_position_cmd"/>
  <arg name="tracking_finish_topic" default="/elastic_tracker/tracking_finish"/>
  <arg name="stop_tracking_topic" default="/elastic_tracker/stop"/>

  <arg name="map_resolution" default="0.10"/>
  <arg name="map_local_x" default="20.0"/>
  <arg name="map_local_y" default="20.0"/>
  <arg name="map_local_z" default="5.0"/>
  <arg name="inflate_size" default="0.20"/>
  <arg name="inflate_num" default="4"/>

  <arg name="rhos_visibility" default="10000.0"/>
  <arg name="rho_tracking" default="1000.0"/>
  <arg name="plan_hz" default="20"/>
  <arg name="hover_finish_hold_time" default="60.0"/>
  <arg name="elastic_debug_search" default="false"/>
    <arg name="elastic_debug_replan" default="false"/>
    <arg name="elastic_debug_throttle" default="2.0"/>

  <group ns="$(arg drone_ns)">
    <node pkg="nodelet" type="nodelet" name="manager" args="manager" output="screen">
      <param name="num_worker_threads" value="16"/>
    </node>

    <node pkg="mapping" type="ws_main_map_adapter" name="ws_main_map_adapter" output="screen"
          if="$(eval arg('map_source') == 'occupancy')">
      <remap from="~occupancy" to="$(arg ws_main_map_topic)"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
      <remap from="~target" to="$(arg target_topic)"/>
      <remap from="~gridmap_inflate" to="$(arg gridmap_inflate_topic)"/>

      <param name="resolution" value="$(arg map_resolution)"/>
      <param name="local_x" value="$(arg map_local_x)"/>
      <param name="local_y" value="$(arg map_local_y)"/>
      <param name="local_z" value="$(arg map_local_z)"/>
      <param name="inflate_size" value="$(arg inflate_size)"/>
      <param name="inflate_num" value="$(arg inflate_num)"/>
      <param name="unknown_as_free" value="true"/>
      <param name="publish_esdf_placeholder" value="false"/>
      <param name="use_mask" value="true"/>
      <param name="target_mask_x" value="0.5"/>
      <param name="target_mask_y" value="0.5"/>
      <param name="target_mask_z" value="1.0"/>
      <param name="target_timeout" value="0.5"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="mapping" args="load mapping/Nodelet manager" output="screen"
          if="$(eval arg('map_source') == 'lidar')">
      <rosparam command="load" file="$(find mapping)/config/camera.yaml"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
      <remap from="~target" to="$(arg target_topic)"/>
      <remap from="~cloud" to="$(arg lidar_cloud_topic)"/>
      <remap from="~gridmap_inflate" to="$(arg gridmap_inflate_topic)"/>

      <param name="map_input_mode" value="lidar"/>
      <param name="down_sample_factor" value="2"/>
      <param name="depth_filter_tolerance" value="0.15"/>
      <param name="depth_filter_mindist" value="0.2"/>
      <param name="depth_filter_margin" value="2"/>
      <param name="p_min" value="-199"/>
      <param name="p_max" value=" 220"/>
      <param name="p_hit" value="  62"/>
      <param name="p_mis" value="  62"/>
      <param name="p_occ" value=" 139"/>
      <param name="p_def" value="-199"/>
      <param name="resolution" value="$(arg map_resolution)"/>
      <param name="local_x" value="$(arg map_local_x)"/>
      <param name="local_y" value="$(arg map_local_y)"/>
      <param name="local_z" value="$(arg map_local_z)"/>
      <param name="inflate_size" value="$(arg inflate_num)"/>
      <param name="use_mask" value="true"/>
    </node>

    <node name="mapping_vis" pkg="mapping" type="mapping_vis_node">
      <remap from="~gridmap_inflate" to="$(arg gridmap_inflate_topic)"/>
    </node>

    <!-- KF 速度估计：接收 ws_main 发来的 3D 目标位置，输出滤波后的位置+速度 -->
    <node pkg="target_ekf" type="target_ekf_node" name="target_ekf_node" output="screen">
      <rosparam command="load" file="$(find target_ekf)/config/camera.yaml"/>
      <remap from="~target_3d_pos" to="/target_3d_pos"/>
      <remap from="~target_odom" to="$(arg target_topic)"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
      <remap from="~yolo" to="/unused_yolo_topic"/>
      <param name="pitch_thr" value="37"/>
    </node>

    <node pkg="nodelet" type="nodelet" name="planning" args="load planning/Nodelet manager" output="screen">
      <remap from="~odom" to="$(arg odom_topic)"/>
      <remap from="~gridmap_inflate" to="$(arg gridmap_inflate_topic)"/>
      <remap from="~heartbeat" to="heartbeat"/>
      <remap from="~trajectory" to="trajectory"/>
      <remap from="~optimized_trajectory" to="optimized_trajectory"/>
      <remap from="~replanState" to="replanState"/>
      <remap from="~target" to="$(arg target_topic)"/>
      <remap from="~triger" to="/triger"/>
      <remap from="~land_triger" to="/land_triger"/>
      <remap from="~tracking_finish" to="$(arg tracking_finish_topic)"/>
      <remap from="~stop_tracking" to="$(arg stop_tracking_topic)"/>

      <param name="plan_hz" value="$(arg plan_hz)"/>
      <param name="hover_finish_hold_time" value="$(arg hover_finish_hold_time)"/>
      <param name="hover_finish_enable" value="true"/>
      <param name="optimized_traj_vis_dt" value="0.05"/>

      <param name="K" value="8"/>
      <param name="vmax" value="2.0"/>
      <param name="amax" value="1.0"/>
      <param name="rhoT" value="100.0"/>
      <param name="rhoP" value="10000.0"/>
      <param name="rhoV" value="1000.0"/>
      <param name="rhoA" value="1000.0"/>
      <param name="rhoTracking" value="$(arg rho_tracking)"/>
      <param name="rhosVisibility" value="$(arg rhos_visibility)"/>
      <param name="theta_clearance" value="0.8"/>
      <param name="clearance_d" value="0.2"/>
      <param name="tracrance_d" value="0.3"/>
      <param name="toleking_dist" value="1.5"/>
      <param name="tolerance_d" value="0.3"/>
      <param name="tracking_dist" value="0.2"/>
      <param name="tracking_dur" value="1.5"/>
      <param name="tracking_dt" value="0.2"/>
      <param name="yaw_lookahead_time" value="1.0"/>
      <param name="debug" value="false"/>
      <param name="debug_search" value="$(arg elastic_debug_search)"/>
      <param name="debug_replan" value="$(arg elastic_debug_replan)"/>
      <param name="debug_throttle" value="$(arg elastic_debug_throttle)"/>

      <param name="prediction/rho_a" value="1.0"/>
      <param name="prediction/vmax" value="4.0"/>
    </node>

    <node pkg="planning" name="traj_server" type="traj_server" output="screen">
      <remap from="~position_cmd" to="$(arg position_cmd_topic)"/>
      <remap from="~trajectory" to="trajectory"/>
      <remap from="~heartbeat" to="heartbeat"/>
      <remap from="~odom" to="$(arg odom_topic)"/>
      <remap from="~triger" to="/triger"/>
      <remap from="~stop_tracking" to="$(arg stop_tracking_topic)"/>
      <param name="time_forward" value="1.0" type="double"/>
    </node>
  </group>
</launch>
