<?xml version="1.0"?>
<launch>
    <node pkg="swarm_ros_bridge" type="bridge_new" name="swarm_bridge_station_node" output="screen" >
        <param name="hostname" type="string" value="groundStation0"/>
        <rosparam command="load" file="$(find swarm_ros_bridge)/config/default.yaml" />
        <rosparam command="load" file="$(find swarm_ros_bridge)/config/ip_real.yaml" />
    </node>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mission_fsm)/config/default.rviz" output="screen" />
    <node pkg="mission_fsm" type="frame_tf.py" name="frame_tf_node" output="screen" >
        <param name="odom_topic" type="string" value="/ekf_quat/ekf_odom"/>
        <!-- <param name="odom_topic" type="string" value="/drone_0_visual_slam/odom"/> -->
    </node>
</launch>