<launch>
  <arg name="target_name_"/>
  <arg name="tracking_dist_"/>
  <arg name="vmax_"/>
  <arg name="amax_"/>
  <arg name="prediction_vmax_"/>
  <arg name="target_add_z_"/>

  <node pkg="nodelet" type="nodelet" name="planning" args="load planning/Nodelet manager" output="screen">
    <remap from="~odom" to="/ekf/ekf_odom"/>
    <remap from="~gridmap_inflate" to="gridmap_inflate"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~replanState" to="replanState"/>
    <remap from="~target" to="$(arg target_name_)"/>
    <remap from="~triger" to="/triger"/>
    <remap from="~land_triger" to="/land_triger"/>

    <param name="plan_hz" value="20"/>

    <param name="K" value="8"/>
    <param name="vmax" value="$(arg vmax_)"/>
    <param name="amax" value="$(arg amax_)"/>
    <param name="rhoT" value="100.0"/>
    <param name="rhoP" value="10000.0"/>
    <param name="rhoV" value="1000.0"/>
    <param name="rhoA" value="1000.0"/>
    <param name="rhoTracking" value="10000.0"/>
    <param name="rhosVisibility" value="1000.0"/>
    <param name="theta_clearance" value="0.8"/>
    <param name="clearance_d" value="0.2"/>
    <param name="tolerance_d" value="0.3"/>
    <param name="tracking_dist" value="$(arg tracking_dist_)"/>
    <param name="tracking_dur" value="3.0"/>
    <param name="tracking_dt" value="0.2"/>
    <param name="debug" value="false"/>
    <param name="target_z" value="$(arg target_add_z_)"/> <!-- 将目标点高度增加或者降低target_z -->
    <param name="prediction/rho_a" value="1.0"/>
    <param name="prediction/vmax" value="$(arg prediction_vmax_)"/>

  </node>
  <node pkg="planning" name="traj_server" type="traj_server" output="screen">
    <remap from="~position_cmd" to="/setpoints_cmd"/>
    <remap from="~trajectory" to="trajectory"/>
    <remap from="~heartbeat" to="heartbeat"/>
    <param name="time_forward" value="1.0" type="double"/>
  </node>
</launch>