<launch>
  <arg name="ws_main_map_topic" default="/grid_map/occupancy_inflate"/>
  <arg name="odom_topic" default="/ekf/ekf_odom"/>
  <arg name="gridmap_inflate_topic" default="gridmap_inflate"/>

  <node pkg="mapping" type="ws_main_map_adapter" name="ws_main_map_adapter" output="screen">
    <remap from="~occupancy_inflate" to="$(arg ws_main_map_topic)"/>
    <remap from="~odom" to="$(arg odom_topic)"/>
    <remap from="~gridmap_inflate" to="$(arg gridmap_inflate_topic)"/>

    <param name="resolution" value="0.15"/>
    <param name="local_x" value="20.0"/>
    <param name="local_y" value="20.0"/>
    <param name="local_z" value="5.0"/>
    <param name="inflate_size" value="0"/>
    <param name="unknown_as_free" value="true"/>
    <param name="publish_esdf_placeholder" value="false"/>
  </node>
</launch>
