<?xml version="1.0"?>
<launch>
    <node pkg="swarm_ros_bridge" type="a_simple_server" name="a_simple_server" output="screen" />

    <group ns="bridge">
        <node pkg="swarm_ros_bridge" type="bridge_new" name="swarm_bridge_node" output="screen" >
            <param name="hostname" type="string" value="drone1"/>
            <rosparam command="load" file="$(find swarm_ros_bridge)/config/obj_nav_cfg.yaml" />
            <rosparam command="load" file="$(find swarm_ros_bridge)/config/ip_real.yaml" />
        </node>
    </group>

    <node pkg="swarm_ros_bridge" type="scenegraph_msg_2_string.py" name="scenegraph_to_copaw" output="screen">
        <param name="output_topic" type="string" value="/scene_graph/json_text" />
    </node>

</launch>
