<?xml version="1.0"?>
<launch>
    <node pkg="swarm_ros_bridge" type="bridge_new" name="swarm_bridge_station_node" output="screen" >
        <param name="hostname" type="string" value="groundStation0"/>
        <rosparam command="load" file="$(find swarm_ros_bridge)/config/default.yaml" />
        <rosparam command="load" file="$(find swarm_ros_bridge)/config/ip_real.yaml" />
    </node>
</launch>
