<launch>
    <arg name="map_size_x" value="200.0"/>
    <arg name="map_size_y" value="200.0"/>
    <arg name="map_size_z" value=" 3.0"/>
    <arg name="init_x" value="0.0"/>
    <arg name="init_y" value="0.0"/>
    <arg name="init_z" value="1.0"/>
    <arg name="odom_topic" value="visual_slam/odom" />
    <arg name="enable_keyboard_ctrl" value="true" />
    <arg name="tracking_backend" default="elastic_tracker" /> <!-- ego / elastic_tracker -->
    <arg name="tracking_target_odom_topic" default="/target_ekf_odom" />
    <arg name="elastic_tracker_finish_topic" default="/elastic_tracker/tracking_finish" />
    <arg name="elastic_tracker_stop_topic" default="/elastic_tracker/stop" />


    <!-- map -->
    <!-- <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">
        <param name="map/x_size" value="50" />
        <param name="map/y_size" value="30" />
        <param name="map/z_size" value="3" />
        <param name="init_x" value="$(arg init_x)" />
        <param name="init_y" value="$(arg init_y)" />
        <param name="init_z" value="$(arg init_z)" />
        <param name="map/resolution" value="0.06"/>
        <param name="ObstacleShape/seed" value="1"/>
        <param name="map/obs_num" value="30"/>
        <param name="ObstacleShape/lower_rad" value="0.2"/>
        <param name="ObstacleShape/upper_rad" value="0.7"/>
        <param name="ObstacleShape/lower_hei" value="0.0"/>
        <param name="ObstacleShape/upper_hei" value="5.0"/>
        <param name="map/circle_num" value="0"/>
        <param name="ObstacleShape/radius_l" value="1.0"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>
        <param name="ObstacleShape/z_l" value="-0.5"/>
        <param name="ObstacleShape/z_h" value="2.5"/>
        <param name="ObstacleShape/theta" value="1.5"/>
        <param name="pub_rate" value="1.0"/>
        <param name="min_distance" value="0.0"/>
    </node> -->



  <!-- map generation 4-->
  <!-- Using pyhton to generate map -->
    <!-- <node pkg ="map_generator" name ="map_generator_easy" type ="map_generator_easy2.py" output = "screen" respawn="true" >
        <remap from="~odometry"   to="$(arg odom_topic)"/>
        <param name="map/x_size"     value="$(arg map_size_x)" />
        <param name="map/y_size"     value="$(arg map_size_y)" />
        <param name="map/z_size"     value="$(arg map_size_z)" />
        <param name="map/resolution" value="0.1"/>

        <param name="map/add_floor" value="true"/>
        <param name="map/add_ceiling" value="false"/>

        <param name="sensing/rate" value="1.0"/>
    </node> -->
    <!--    <arg name="map_name" value="$(find map_generator)/pcd/7_9_scans.pcd"/>-->

<!--    <arg name="map_name" value="$(find map_generator)/pcd/fy.pcd"/>-->
<!--    <node pkg="map_generator" name="map_pub" type="map_pub" output="screen" args="$(arg map_name)">-->
<!--        <param name="add_boundary" value="0"/>-->
<!--        <param name="add_boundary2" value="0"/>-->
<!--        <param name="is_bridge" value="0"/>-->
<!--        <param name="downsample_res" value="0.1"/>-->
<!--        <param name="map_offset_x" value="0.0"/>-->
<!--        <param name="map_offset_y" value="0.0"/>-->
<!--        <param name="map_offset_z" value="0.0"/>-->
<!--    </node>-->
<!--    <node name="map_display" pkg= "map_generator" type="map_display.py" output="screen" />-->

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
        <arg name="drone_id" value="0"/>
        <arg name="init_x" value="$(arg init_x)" />
        <arg name="init_y" value="$(arg init_y)" />
        <arg name="init_z" value="$(arg init_z)" />
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="tracking_backend" value="$(arg tracking_backend)"/>
        <arg name="tracking_target_odom_topic" value="$(arg tracking_target_odom_topic)"/>
        <arg name="elastic_tracker_finish_topic" value="$(arg elastic_tracker_finish_topic)"/>
        <arg name="elastic_tracker_stop_topic" value="$(arg elastic_tracker_stop_topic)"/>

        <!-- MANUAL_TARGET  = 1, // Set aim in rviz
             EXPLORE_TARGET = 2, // Get aim from Exploration 
             PRESET_TARGET  = 3, // Get preset aim from launch file -->
        <arg name="flight_type" value="2"/>
    </include>


<!--    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">-->
<!--        <arg name="drone_id" value="1"/>-->
<!--        <arg name="init_x" value="1.0" />-->
<!--        <arg name="init_y" value="$(arg init_y)" />-->
<!--        <arg name="init_z" value="$(arg init_z)" />-->
<!--        <arg name="map_size_x" value="$(arg map_size_x)"/>-->
<!--        <arg name="map_size_y" value="$(arg map_size_y)"/>-->
<!--        <arg name="map_size_z" value="$(arg map_size_z)"/>-->
<!--        <arg name="odom_topic" value="$(arg odom_topic)"/>-->

<!--        <arg name="flight_type" value="2"/>-->
<!--    </include>-->


  <!-- <group if="$(arg enable_keyboard_ctrl)">
    <node pkg="dynamic_planner" type="dynamic_planner_test_node" name="main_planner" output="screen">
        <remap from="~dynamic_odom" to="$(arg odom_topic)"/>
        <remap from="~position_cmd" to="/planning/pos_cmd"/>
        <remap from="~joy" to="/joy_main"/>

        <param name="planning/init_state_x" value="$(arg init_x)"/>
        <param name="planning/init_state_y" value="$(arg init_y)"/>
        <param name="planning/init_state_z" value="$(arg init_z)"/>
        <param name="planning/isAuto" value="false"/>
        <param name="planning/vehicleRadius" value="0.9"/>
        <param name="planning/collisionDistance" value="3.0"/>
        <param name="planning/plan_hz" value="10"/>
        <param name="planning/ctrl_hz" value="40"/>
    </node>
  </group> -->

</launch>
