<launch>
    <arg name="map_size_x" value="200.0"/>
    <arg name="map_size_y" value="200.0"/>
    <arg name="map_size_z" value=" 3.0"/>
    <arg name="init_x" value="0.0"/>
    <arg name="init_y" value="0.0"/>
    <arg name="init_z" value="1.0"/>
    <arg name="odom_topic" value="visual_slam/odom" />
    <arg name="enable_keyboard_ctrl" value="true" />
    <arg name="tracking_backend" default="elastic_tracker" /> <!-- ego / elastic_tracker -->
    <arg name="tracking_target_odom_topic" default="/target_ekf_odom" />
    <arg name="elastic_tracker_finish_topic" default="/elastic_tracker/tracking_finish" />
    <arg name="elastic_tracker_stop_topic" default="/elastic_tracker/stop" />
    <!-- VLA-Swarm bbox 三维定位直接随 obj_nav 启动。 -->
    <arg name="vla_swarm_camera_info_topic" default="/drone_0/camera/color/info" />
    <arg name="vla_swarm_cloud_topic" default="/livox/lidar_world" />
    <arg name="vla_swarm_moge_root" default="" />
    <arg name="vla_swarm_moge_model_path" default="" />


    <!-- map -->
    <!-- <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">
        <param name="map/x_size" value="50" />
        <param name="map/y_size" value="30" />
        <param name="map/z_size" value="3" />
        <param name="init_x" value="$(arg init_x)" />
        <param name="init_y" value="$(arg init_y)" />
        <param name="init_z" value="$(arg init_z)" />
        <param name="map/resolution" value="0.06"/>
        <param name="ObstacleShape/seed" value="1"/>
        <param name="map/obs_num" value="30"/>
        <param name="ObstacleShape/lower_rad" value="0.2"/>
        <param name="ObstacleShape/upper_rad" value="0.7"/>
        <param name="ObstacleShape/lower_hei" value="0.0"/>
        <param name="ObstacleShape/upper_hei" value="5.0"/>
        <param name="map/circle_num" value="0"/>
        <param name="ObstacleShape/radius_l" value="1.0"/>
        <param name="ObstacleShape/radius_h" value="0.5"/>
        <param name="ObstacleShape/z_l" value="-0.5"/>
        <param name="ObstacleShape/z_h" value="2.5"/>
        <param name="ObstacleShape/theta" value="1.5"/>
        <param name="pub_rate" value="1.0"/>
        <param name="min_distance" value="0.0"/>
    </node> -->



  <!-- map generation 4-->
  <!-- Using pyhton to generate map -->
    <!-- <node pkg ="map_generator" name ="map_generator_easy" type ="map_generator_easy2.py" output = "screen" respawn="true" >
        <remap from="~odometry"   to="$(arg odom_topic)"/>
        <param name="map/x_size"     value="$(arg map_size_x)" />
        <param name="map/y_size"     value="$(arg map_size_y)" />
        <param name="map/z_size"     value="$(arg map_size_z)" />
        <param name="map/resolution" value="0.1"/>

        <param name="map/add_floor" value="true"/>
        <param name="map/add_ceiling" value="false"/>

        <param name="sensing/rate" value="1.0"/>
    </node> -->
    <!--    <arg name="map_name" value="$(find map_generator)/pcd/7_9_scans.pcd"/>-->

    <!-- <arg name="map_name" value="$(find map_generator)/pcd/2026-06-29-all-newmap-d0.05_ds.pcd"/> -->
    <!-- 支撑地图: 模拟 FAST_LIO prior_local, 以当前位置截球补充点云辅助建图 -->
    <!-- <arg name="support_map_name" value="$(find map_generator)/pcd/20260704-magic2-d0.05.pcd"/>
    <node pkg="map_generator" name="map_pub" type="map_pub" output="screen" args="$(arg map_name)">
        <param name="add_boundary" value="0"/>
        <param name="add_boundary2" value="0"/>
        <param name="is_bridge" value="0"/>
        <param name="downsample_res" value="0.2"/>
        <param name="map_offset_x" value="0.0"/>
        <param name="map_offset_y" value="0.0"/>
        <param name="map_offset_z" value="0.0"/>
    </node>
    <node name="map_display" pkg= "map_generator" type="map_display.py" output="screen" /> -->

    <!-- prior_local 支撑点云合并节点 (C++ / PCL): 移植 FAST_LIO prior_local, 以当前位姿截取先验局部点云补充 -->
    <!-- <node pkg="map_generator" name="drone_0_cloud_merger" type="support_cloud_pub" output="screen">
        <param name="support_pcd_path" value="$(arg support_map_name)"/>
        <param name="prior_local_radius" value="2.0"/>
        <param name="prior_local_leaf" value="0.1"/> -->
        <!-- 先验局部点云截取形状: 0=球(用 radius), 1=长方体(用下方 6 个延伸距离)
             长方体以当前位置为心, yaw 跟随设备朝向, 上下方向恒沿世界 z 轴(不受 pitch/roll 影响)
             prior_box_extend_*: 前/后/左/右/上/下 各方向延伸距离(米), 各方向可不对称 -->
        <!-- <param name="prior_local_mode"          type="int"    value="1"/> -->
        <!-- <param name="prior_box_extend_forward"  type="double" value="2.0"/> -->
        <!-- <param name="prior_box_extend_backward" type="double" value="0.6"/> -->
        <!-- <param name="prior_box_extend_left"     type="double" value="0.6"/> -->
        <!-- <param name="prior_box_extend_right"    type="double" value="0.6"/> -->
        <!-- <param name="prior_box_extend_up"       type="double" value="1.5"/> -->
        <!-- <param name="prior_box_extend_down"     type="double" value="2.0"/> -->
        <!-- 移动阈值优化(对齐 FAST_LIO prior_local_motion_*): 位移不足复用上次截取结果;
             模式1下原地转 yaw 超 motion_yaw_thresh 仍重算(长方体朝向随 yaw) -->
        <!-- <param name="prior_local_motion_check"      type="bool"   value="false"/> -->
        <!-- <param name="prior_local_motion_thresh"     type="double" value="0.5"/> -->
        <!-- <param name="prior_local_motion_yaw_thresh" type="double" value="0.1"/> -->
        <!-- 支撑地图离群点滤波 (对齐 FAST_LIO prior_outlier_filter, PCD加载时执行一次) -->
        <!-- <param name="prior_outlier_filter/enable"        type="bool"   value="true"/> -->
        <!-- <param name="prior_outlier_filter/type"          type="int"    value="1"/>     1:ROR, 2:SOR -->
        <!-- <param name="prior_outlier_filter/radius"        type="double" value="0.3"/>   ROR搜索半径(m) -->
        <!-- <param name="prior_outlier_filter/min_neighbors" type="int"    value="30"/>    ROR最少邻居数 -->
        <!-- <param name="prior_outlier_filter/mean_k"        type="int"    value="20"/>    SOR近邻数 -->
        <!-- <param name="prior_outlier_filter/std_threshold" type="double" value="2.0"/>   SOR标准差倍数 -->
        <!-- <remap from="~cloud" to="/drone_0_pcl_render_node/cloud"/>
        <remap from="~odom"  to="/drone_0_visual_slam/odom"/>
    </node> -->

    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">
        <arg name="drone_id" value="0"/>
        <arg name="init_x" value="$(arg init_x)" />
        <arg name="init_y" value="$(arg init_y)" />
        <arg name="init_z" value="$(arg init_z)" />
        <arg name="map_size_x" value="$(arg map_size_x)"/>
        <arg name="map_size_y" value="$(arg map_size_y)"/>
        <arg name="map_size_z" value="$(arg map_size_z)"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="tracking_backend" value="$(arg tracking_backend)"/>
        <arg name="tracking_target_odom_topic" value="$(arg tracking_target_odom_topic)"/>
        <arg name="elastic_tracker_finish_topic" value="$(arg elastic_tracker_finish_topic)"/>
        <arg name="elastic_tracker_stop_topic" value="$(arg elastic_tracker_stop_topic)"/>

        <!-- MANUAL_TARGET  = 1, // Set aim in rviz
             EXPLORE_TARGET = 2, // Get aim from Exploration 
             PRESET_TARGET  = 3, // Get preset aim from launch file -->
        <arg name="flight_type" value="2"/>
    </include>

    <include file="$(find box_odom_estimator)/launch/vla_swarm_target_estimator.launch">
        <arg name="camera_info_topic" value="$(arg vla_swarm_camera_info_topic)"/>
        <arg name="observation_topic" value="/vla_swarm/observation"/>
        <arg name="odom_topic" value="$(arg odom_topic)"/>
        <arg name="cloud_topic" value="$(arg vla_swarm_cloud_topic)"/>
        <arg name="moge_root" value="$(arg vla_swarm_moge_root)"/>
        <arg name="moge_model_path" value="$(arg vla_swarm_moge_model_path)"/>
    </include>

    <!-- 消息广播器：将相机/odom 帧经 TCP 广播给机载外部服务(yoloe_remote_service)，并接收其回传的检测结果。
         外部服务未启动时广播器自动退避重连，不影响本 launch 其它节点。 -->
    <arg name="enable_broadcaster" default="true"/>
    <group if="$(arg enable_broadcaster)">
        <include file="$(find topic_broadcaster)/launch/broadcaster.launch">
            <arg name="config" value="$(find topic_broadcaster)/config/broadcast_sim.yaml"/>
        </include>
    </group>


<!--    <include file="$(find ego_planner)/launch/include/run_in_sim.xml">-->
<!--        <arg name="drone_id" value="1"/>-->
<!--        <arg name="init_x" value="1.0" />-->
<!--        <arg name="init_y" value="$(arg init_y)" />-->
<!--        <arg name="init_z" value="$(arg init_z)" />-->
<!--        <arg name="map_size_x" value="$(arg map_size_x)"/>-->
<!--        <arg name="map_size_y" value="$(arg map_size_y)"/>-->
<!--        <arg name="map_size_z" value="$(arg map_size_z)"/>-->
<!--        <arg name="odom_topic" value="$(arg odom_topic)"/>-->

<!--        <arg name="flight_type" value="2"/>-->
<!--    </include>-->


  <!-- <group if="$(arg enable_keyboard_ctrl)">
    <node pkg="dynamic_planner" type="dynamic_planner_test_node" name="main_planner" output="screen">
        <remap from="~dynamic_odom" to="$(arg odom_topic)"/>
        <remap from="~position_cmd" to="/planning/pos_cmd"/>
        <remap from="~joy" to="/joy_main"/>

        <param name="planning/init_state_x" value="$(arg init_x)"/>
        <param name="planning/init_state_y" value="$(arg init_y)"/>
        <param name="planning/init_state_z" value="$(arg init_z)"/>
        <param name="planning/isAuto" value="false"/>
        <param name="planning/vehicleRadius" value="0.9"/>
        <param name="planning/collisionDistance" value="3.0"/>
        <param name="planning/plan_hz" value="10"/>
        <param name="planning/ctrl_hz" value="40"/>
    </node>
  </group> -->

</launch>
